    h2{
        font-size:28px;
    }
    sup a {
        font-size:12px;
    }
    a {
        color:#55bc28;
        text-shadow: 0px 1px 0px #0b2307,1px 0px 0 #0b2307;

    }
    .embimg{
        object-fit:contain;
        width:100%;
    }
    .sludge{
        top:-0px;
        left: 0px;
    }
    .emporium{
        top: -10px;
        left:10px;
    }
    .title{
        height:fit-content;
        width:fit-content;
        margin: auto;
        position: relative;
        left:0px;
    }
    h1{
        font-family:'sharpie';
        text-align: center;
        font-weight: 1000;
        color: #55bc28;
        /* navbar text color */
        font-size: 45px;
        text-decoration: none;
        text-shadow: -1px -1px 0 #0b2307, 1px -1px 0 #0b2307, -1px 1px 0 #0b2307, 1px 1px 0 #0b2307;

    }
    p{
        font-size: 18px;
        line-height: 150%;
    }
    
    #wholedamnthing {
        position:relative;
    }
    body {
        padding-top: 40px;
        font-family: garamond;
        margin: auto;
        margin-bottom: 20px;

        background-size:contain;
    }
    
    #maincontainer{
                margin:auto;
                min-height:500px;
                background-color: #fff5be;
                width:50%;
                background-size:contain;
                border: 3px groove #0b2307;
                border-radius: 15px;
                padding-top: 10px;
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 100px;
                text-align:justify;
            }